{% extends 'ctrl_budgets/main.html' %}

<br>

{% block content %}
<div class="navbar">
    <nav><a href="/investments">Control your budgets</a></nav>
</div>

<div class="content">
    <div class="grid-item grid-item-position-wide">
        <div class="grid-item-header">Targeted Budgets</div>
        <div class="grid-item-body flex-direction-column">
            <div class="flex-align-right">
                <div class="label-balance">{{targeted_budgets_vault_value}} PLN</div>
                <form class="form-base width-120px" method="post">
                    {% csrf_token %}
                    {% for field in targeted_budgets_vault_form %}
                    <div>
                        {{ field }}
                    </div>
                    {% endfor %}
                    <div>
                        <input class="button button-violet button-middle" type="submit" value="Update">
                    </div>
                </form>
            </div>
            <table class="table-responsive">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for budget in targeted_budgets %}
                    <tr>
                        <td class="width-30-percent text-align-center">{{budget.name}}</td>
                        <td class="width-20-percent text-align-right">{{budget.balance}} PLN</td>
                        <td class="text-align-center"><a class="button button-violet button-middle"
                                href="{% url 'investments:targeted_budget' budget.id %}">Details</a>
                        </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

<!-- <div onclick="window.location.href='{% url 'investments:portfolio' portfolio.pk %}'"> -->