{% extends 'ctrl_budgets/main.html' %}

<br>

{% block content %}
<div class="navbar">
    <nav><a href="/investments">Control your budgets</a></nav>
</div>

<div>
    <h1>Targeted Budgets</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Balance</td>
                </tr>
            </thead>
            <tbody>
                {% for budget in targeted_budgets %}
                <tr>
                    <td>{{budget.name}}</td>
                    <td>{{budget.balance}} PLN</td>
                    <td><a href="{% url 'investments:targeted_budget' budget.id %}">Details</a></td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

<!-- <div onclick="window.location.href='{% url 'investments:portfolio' portfolio.pk %}'"> -->