{% extends 'main.html' %}

{% block content %}

<style>
    td {
        border: solid 1px lightgrey;
    }
</style>

<h1>{{portfolio.name}}</h1>
<h2>Wartość: {{value|floatformat:2}} PLN</h2>

<h2>Składniki</h2>
{% if elements %}
    <table>
        <tr>
            <td rowspan="2"></td>
            <td colspan="4">Portfel modelowy</td>
            <td colspan="2">Portfel rzeczywisty</td>
            <td colspan="2">Odchylenie</td>
        </tr>
        <tr>
            <td rowspan="2">Waga</td>
            <td colspan="2">Dopuszczalna waga</td>
            <td rowspan="2">Kwota</td>
            <td rowspan="2">Waga</td>
            <td rowspan="2">Kwota</td>
            <td rowspan="2">Waga</td>
            <td rowspan="2">Kwota</td>
        </tr>
        <tr>
            <td>Klasa aktywów</td>
            <td>Minimalna</td>
            <td>Maksymalna</td>
        </tr>
    {% for element in elements %}
        <tr>
            <td><a href="{% url 'investments:portfolio_element' portfolio.id element.asset_type.id %}">{{element.asset_type}}</a></td>
            <td>{{element.model.weight.target}}%</td>
            <td>{{element.model.weight.min}}%</td>
            <td>{{element.model.weight.max}}%</td>
            <td>{{element.model.value|floatformat:2}} PLN</td>
            <td>{{element.actual.weight|floatformat:2}}%</td>
            <td>{{element.actual.value|floatformat:2}} PLN</td>
            <td>{{element.deviation.weight|floatformat:2}}%</td>
            <td>{{element.deviation.value|floatformat:2}} PLN</td>
        </tr>
    {% endfor %}
    
    </table>
{% else %}
    <p>Portfel jest pusty</p>
{% endif %}

{% endblock %}