{% extends 'ctrl_budgets/main.html' %}

{% block content %}
<div class="content-container">
    <div class="navbar">
        <nav><a href="/investments">Control your budgets</a></nav>
    </div>

    <div class="grid-container-outer">
        <div class="grid-item-header">Targeted Budgets / {{ budget.name }}</div>

        <div class="grid-container-main">

            <!-- Balance label -->
            <div class="grid-item">
                <div class="grid-item-header">Balance</div>
                <div class="grid-item-body">
                    <div class="label-balance">{{balance}} PLN</div>
                </div>
            </div>


            <!-- Add new completed transaction form -->
            <div class="grid-item grid-item-column-4 grid-item-height-3">
                <div class="grid-item-header">Add new completed transaction</div>
                <div class="grid-item-body">
                    <form class="form-base" method="post">
                        {% csrf_token %}
                        {% for field in new_transaction_form %}
                        <div>
                            <label>{{ field.label }}</label>
                            {{ field }}
                        </div>
                        {% endfor %}
                        <div>
                            <input class="button button-violet button-middle" type="submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>

            <!-- Completed transactions table -->
            <div class="grid-item grid-item-position-transactions-table">
                <div class="grid-item-header">Completed transactions</div>
                <div class="grid-item-body">
                    <table class="table-responsive">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Cost</th>
                                <th>Details</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for transaction in transactions %}
                            <tr>
                                <td class="width-30-percent">{{transaction.date}}</td>
                                <td class="text-align-right width-20-percent">{{transaction.cost}} PLN</td>
                                <td class="text-align-center">{{transaction.details}}</td>
                                <td class="buttons-table-row-container">
                                    <div class="button-table-row button-edit"></div>
                                    <div class="button-table-row button-delete"></div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>


            <!-- Scheduled transactions table -->
            <div class="grid-item grid-item-width-3 grid-item-height-2">
                <div class="grid-item-header">Scheduled transactions</div>
                <div class="grid-item-body">
                </div>
            </div>

            <!-- Add new scheduled transactions -->
            <div class="grid-item grid-item-height-2">
                <div class="grid-item-header">Schedule new transaction</div>
                <div class="grid-item-body">
                </div>
            </div>

            <!-- Periodic transactions table -->
            <div class="grid-item grid-item-width-3 grid-item-height-2">
                <div class="grid-item-header">Periodic transactions</div>
                <div class="grid-item-body">
                </div>
            </div>

            <!-- Add new period transactions -->
            <div class="grid-item grid-item-height-2">
                <div class="grid-item-header">Set new periodic transaction</div>
                <div class="grid-item-body">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}