@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

body {
    margin: 0;
    height: 100%;
    background: #0c0c0c;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


.content-container {
    height: 100%;
    margin: auto;
    background: #111116;
    padding: 30px 60px;
    max-width: 1500px;
    min-width: 1000px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.navbar {
    height: 100px;
    width: 100%;
    margin-bottom: 50px;
    padding: 20px 20px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar h3,
.navbar nav a {
    font-weight: 400;
    color: rgb(247 249 251);
    font-family: Inter, sans-serif;
    font-size: 1.5rem;
    line-height: 1.25rem;
    margin-bottom: .5rem;

}

.grid-container-outer {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    border: 0.1rem solid #3b3b3b;
    border-radius: 0.2rem;
}

.grid-container-main {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 150px;
    grid-gap: 30px;
    justify-content: center;
}

.grid-item {
    overflow: hidden;
    display: flex;
    flex-direction: column;

    background: #0b0b0c;
    padding: 10px 20px;

    border: 0.1rem solid #3b3b3b;
    border-radius: 0.2rem;

}

.grid-item-position-targeted-budgets {
    grid-column: 1/-1;
    grid-row: span 3;
}

.grid-item-position-transactions-table {
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row: span 2;
}

.grid-item-column-4 {
    grid-column: 4;
}

.grid-item-height-2 {
    grid-row: span 2;
}

.grid-item-height-3 {
    grid-row: span 3;
}

.grid-item-width-3 {
    grid-column-start: span 3;
}

.grid-item-header {
    height: 60px;

    font-weight: 600;
    color: rgb(247 249 251);
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
}

.grid-item-body {
    flex-grow: 1;


    align-items: start;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
}

.grid-item-body h3 {
    font-weight: 300;
    color: rgb(247 249 251);
    font-family: Inter, sans-serif;
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: .5rem;
}

.label-balance {
    font-size: 1.5rem;
    font-weight: 300;
    font-family: Inter, sans-serif;
    color: rgb(247 249 251);
}

.form-base {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.form-base div {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: stretch;
}

.form-base div label {
    font-weight: 600;
    color: rgb(247 249 251);
    font-family: Inter, sans-serif;
    font-size: .875rem;
    line-height: 1.25rem;
    margin-bottom: .5rem;
}

.form-input {
    padding: .625rem .625rem;

    color: rgb(165 180 252);
    background-color: transparent;
    caret-color: rgb(165 180 252);

    border-color: #ffffff1a;
    border-style: solid;
    border-width: 1px;
    border-radius: .5rem;
}

.form-input:focus,
.form-input:active {
    outline: none;
    border-color: #fff6;
}

.button {
    color: rgb(28 28 28);

    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;

    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .3s;

    border-radius: .5rem;
    border-width: 2px;
    border-style: solid;
}

.button:hover,
.button:focus,
.button:active {
    outline: none;
    background-color: rgb(28 28 28);
    color: white;
}

.button-violet {
    background-color: rgb(165 180 252);
    border-color: rgb(165 180 252);
}

.button-middle {
    width: 120px;
    padding: .25rem;
}

.buttons-table-row-container {
    align-self: center;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.button-table-row {
    width: 50px;
    height: 30px;
    border-radius: .2rem;
    border-style: none;
}

.button-table-row:hover,
.button-table-row:focus,
.button-table-row:active {
    outline: none;
    filter: brightness(200%);
}

.button-delete {
    background-color: #b81717;
    background-image: url("icon-trash-white.png");
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.button-edit {
    background-color: #1793b8;
    background-image: url("icon-edit-white.png");
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.button-show-details {
    background-color: #1c4aaf;
    background-image: url("icon-show-details-white.png");
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.form-button {
    background-color: rgb(165 180 252);
    border-color: rgb(165 180 252);

    margin-top: 20px;

    padding: .625rem .625rem;
}

.form-base select option {
    color: rgb(165 180 252);
    background-color: #2b2b2b;
}

.table-responsive {
    overflow: auto;
    table-layout: auto;
    width: 100%;
}

table {
    width: 100%;
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;

    font-family: Inter, sans-serif;
}

table tfoot tr,
table thead tr {
    white-space: nowrap;
    border-bottom: 1px solid #fff3;
}

table tbody tr td,
table tfoot tr th,
table thead tr th {
    white-space: nowrap;
    padding: .5rem 1rem;
}

table tfoot tr th,
table thead tr th {
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 400;
    color: #fff6;

    text-align: center
}

table tbody tr {
    border-bottom-width: 0;
    color: white;
}


table tbody tr:hover {
    background-color: #ffffff0d;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.width-20-percent {
    width: 20%;
}

.width-30-percent {
    width: 30%;
}

.width-120px {
    width: 120px;
}

.outline-1 {
    outline: dotted 1px blue;
}

.outline-2 {
    outline: dotted 1px cyan;
}

.outline-3 {
    outline: dashed 1px yellowgreen;
}

.outline-4 {
    outline: dashed 1px pink;
}

.outline-5 {
    outline: dashed 1px violet;
}

.outline-6 {
    outline: dashed 1px green;
}